form {
  margin: 1rem;

  display: grid;
  grid-template-rows: auto 8rem 10rem 12rem;
  row-gap: 2rem;
}

fieldset {
  padding: 1rem;

  display: grid;
  align-items: center;
}

legend {
  font-weight: bold;
}

label {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  justify-items: start;
}
