.preview {
  margin: 1rem;

  display: grid;
  grid-template-rows: auto 8rem 10rem 12rem;
  row-gap: 2rem;
}

section {
  text-align: left;
  padding: 0 1rem;
  box-shadow: 2px 2px 2px black;

  display: grid;
}

.item-view {
  display: flex;
  justify-content: space-between;
}

.item-view .label {
  flex: 0 1 40%;
}

.item-view .value {
  flex: 0 1 50%;
}
