*,
:root::before,
:root::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: calc(1980px * 0.2);
}

#root {
  text-align: center;

  display: grid;
  grid-template-rows: 5rem 40rem 5rem;
}

h1 {
  padding: 1rem;
}

button {
  place-self: center;
  padding: 0 1rem;
  font-size: 1.3rem;
}
